<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="Temporada_Fortnite" value="Capítulo 2 Temporada 6 #Fortnite"/>
		
		
		<add key="Web" value="https://hswtr65y.webcindario.com/diasFortnite/diasfortnite/dias.php"/>

		
		
	</appSettings>
</configuration>
